/* Empty. Add your own CSS if you like */
.addButton {
    height: 60px;
    width: 60px;
    border-radius: 70px;
    color: white;
    box-shadow: none;
    border: 0;
    font-size: 30px;
    background-color: #2196F3;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 1px 3px 2px #888888;
}